$primaryColor: rgba(247,25,99,1);
$gray: rgba(159, 159, 159,1);
$white: #FFF;
$borderColor: rgba(240, 240, 240, 1);
$inputColor: rgba(246, 245, 242, 1);
$black: rgba(42, 42, 42, 1);
$background-search: #F6F5F2;
$box-shadow: #3930131f;
$blackText: #3F3F40;
$text : #4E4E4E;
$ice: #F4F4F4;

:export {
    gray: $gray;
    white: $white;
    black: $black;
    primaryColor: $primaryColor;
    borderColor: $borderColor;
    inputColor: $inputColor;
    
}

header {
    max-width: 1280px;
    margin: 22px auto;
}

body {
    background-color: $white;
    font-family: "Poppins";

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  footer {
    background-color: $black;
    display: flex;
    justify-content: space-between;
  }
