@import "./src/Components/styles/font.scss";
@import "./src/Components/styles/variables.scss";

.see-all {
    text-align: center;
    margin: 4px 0 32px 0;
    cursor: pointer;


    span {
    line-height: 23px;
   
    p {
    margin-bottom: 40px;
    color: $blackText;
    font-size: 15px;
    font-weight: 700;
    }
    

 }
}